@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Be Vietnam Pro', sans-serif; */
    
}
/* body{
    -webkit-font-smoothing: antialiased;
} */
:root{
    --bg-orange: #e84949
}
body::-webkit-scrollbar
{
    display: none;
}
.wrapper::-webkit-scrollbar{
    display: none;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    
    /* background-color: red; */
}
.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    /* flex: 1 1 auto; */
    font-family: 'Be Vietnam Pro', sans-serif;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* flex: 1 1 0; */
}
.logo{
    height: 80px;
}
.logo-text{
    margin-left: -0.4rem;
    font-size: 16px;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
    /* flex: 1 1 0; */
}
.nav-items>div{
    font-size: 20px;
    /* font-weight: 500; */
    cursor: pointer;

}
.nav-items>div>a{
    text-decoration: none;
    color: black;
}
.nav-items div:hover{
    transition:font-weight 0.8s;    
    font-weight: bold;
}



/* HERO */


.hero-section
{
    /* background-color: yellow; */
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    /* flex: 2 1 auto; */
}

.hero-section-faded{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    position: absolute;
    z-index: -0;
    /* transition: all 3s; */
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* flex: 1 1 0; */
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.hero-section-sub-heading
{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description
{
    margin-top: 1rem;
    /* width: 70%; */
    font-weight: 500;
}
.role{
    color: #4e45d5;
    font-weight: 8 00;
}

.button-red{
    color: white;
    background-color: var(--bg-orange);
    width: max-content;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    font-weight: 500;
    border: solid 3px transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
    
}
.button-red::before{
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition:transform 0.8s;
    z-index: -1;
}
.button-red:hover::before{
    transform: scaleX(1);
}
.button-red:hover{
    color: black;
}

.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter:grayscale(9);
    transition: all 1s;
    animation: scale-image 5s linear infinite ;
    /* height: 100vh; */
    /* animation: scale-image 5s timing-function delay infinite direction fill-mode; */
}
.user-image>img{
    height: 500px;
    z-index: -9;
    /* background-color: blue; */
}

@keyframes scale-image {
    0%{
        transform: scale(1);
        z-index: -9;
        filter: grayscale(0);
    }
    50%{
        transform: scale(0.9);
        z-index: -9;
        filter: grayscale(9);
        box-shadow: 3px 3px 10px black;

    }
    100%{
        z-index: -9;
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icons-dots{
    z-index: 20;
    bottom: -2.4em;
    right: 0;
    animation: dots-movement 5s infinite;
}

@keyframes dots-movement {
    0%{
        transform: translateY(0px);
        z-index: 20;
    }
    50%{
        transform: translateY(-15px);
        z-index: 20;
    }
    100%{
        transform: translateY(0px);
        z-index: 20;
    }
}
.icons-cube{
    z-index: 2;
    right: 1em;
    top: -0.8em;
    animation: cube-movement 5s infinite;
}
@keyframes cube-movement{
    0%{
        transform: translateY(0) rotateY(0);
    }
    50%{
        transform: translateY(-25px) rotateY(180deg);
    }
    100%{
        transform: translateY(0) rotateY(360deg);
    }
}
.icons-plus{
    z-index: 2;
    right: 40%;
    top: -1.4em;
    animation: plus-movement 5s infinite;
}
@keyframes plus-movement {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(10px,-15px);
    }
    100%{
        transform: translate(0,0);
    }
    
}
.icons-circle{
    z-index: 2;
    bottom: -1em;
    left: -1em;
    animation: circle-movement 5s infinite;
}
@keyframes circle-movement{
    /* 0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(30px,-30px);
    }
    100%{
        transform: translate(0,0);
    } */
    50%{
        left: 5%;
        bottom: 10%;
    }
}
.icons-zigzag{
    z-index: 2;
    top: 0;
    left: 0;
    animation: zigzag-movement 5s infinite;
}
@keyframes zigzag-movement{
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(10px,-10px);
    }
    100%{
        transform: translate(0,0);
    }
}

/* Projects-Section */
/* .project-section::-webkit-scrollbar{
    display: none;
} */
.project-section{
    background-color: rgb(231, 231, 231);
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top:1rem;
    /* top: 4%; */
}
.project-header{
    align-self: center;
    color: var(--bg-orange);
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    /* width: max-content; */
    /* background-color: yellow; */
}

.project-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
    /* background-color: blueviolet; */
}
.project-card::before{
    position: absolute;
    content: "";
    color: white;
    /* background-color: rgba(36, 39, 39, 0.249); */
    background: linear-gradient(45deg,#343d68,#343d68be, #343d687c);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    
    transition: transform 0.4s;
    z-index: 1;
}
.project-card
{
    background-color: greenyellow;
    width: 90%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    z-index: 0;
}
.project-card:hover::before{
    transform: scaleX(1);

}
.project-card::after{ 
    content: "";
    position: absolute;
    background-color: yellow;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
}
#project1{
    background-image: url(./userAsset/projects-section/Project1.png);
    align-self: flex-start;
    
}
#project1::before{
    transform-origin: left;
}
.project-number{
    color: white;
    font-size: 200px;
    font-weight: 600;
    z-index: 10;
    display: none;
    /* height: max-content;
    width: min-content; */
}
.project-card:hover .project-number{
    display: block;
}
.project-number-left
{
    top: -45px;
    left: -40px;
}
.project-number-right{
    top: -45px;
    right: -40px;
}

#project2{
    background-image: url(./userAsset/projects-section/Project2.png);
    align-self: flex-end;
}
#project2::before{
    transform-origin: right;
}
#project3{
    background-image: url(./userAsset/projects-section/Project3.png);
    align-self: flex-start;
}
#project3::before{
    transform-origin: left;
}
#project4{
    background-image: url(./userAsset/projects-section/Project4.png);
    align-self: flex-end;
}
#project4::before{
    transform-origin: right;
}
.project-content
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2em;
    bottom: 20%;
    gap: 1em;
    /* align-items: center; */
    /* height: 100%; */
    color: white ;
    z-index: 11;
    transition: all 0.4s;
}

.project-content-left
{
    left: 10%;
}
.project-content-right{
    right: 10%;
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
.project-skills-container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 10px;
}
.project-skill{

    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subHeading
{
    font-size: 16px;
    font-style: italic;
    width: 70%;
}
.btn-group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.btn-project:hover{
    border: none;
}
.icon{
    cursor: pointer;
    color: white;
    font-size: 40px;
    transition: color 0.4s;
}
.icon:hover{
    color: var(--bg-orange);
}
.btn-group>a{
    text-decoration: none;
}

